/**
 * @file GithubCorner style
 * @author yumao<yuzhang.lille@gmail.com>
 */

@import "~style/variable.less";

@octo-arm-animation: octocat-wave 560ms ease-in-out;

.github-corner {
    svg {
        position: absolute;
        top: 0;
        border: 0;
        right: 0;
        fill: #fff;
        color: @theme-color;
    }

    .octo-arm {
        transform-origin: 130px 106px;
    }

    &:hover {
        .octo-arm {
             animation: @octo-arm-animation;
        }
    }
}

@media(max-width: 500px) {
    .github-corner {
        .octo-arm {
            animation: @octo-arm-animation;
        }

        &:hover {
            .octo-arm {
                animation: none;
            }
        }
    }
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
